{% extends 'adminapp/admin_blank.html' %}

{% block content %}
  <h2>Color Management</h2>
  <a href="{% url 'adminapp:add_color' %}" class="btn btn-primary mb-3">Add Color</a>

  <!-- Responsive Table -->
  <div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Color List</h6>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <!-- <th>Code</th> -->
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for color in colors %}
            <tr>
              <td>{{ color.name }}</td>
              <!-- <td>
                {% if color.code %}
                  <div class="mb-3">
                    
                    <div style="width: 40px; height: 40px; background-color: {{ color.code }};"></div>
                  </div>
                {% endif %}
              </td> -->
              <td>
                <a href="{% url 'adminapp:edit_color' color.id %}" class="btn btn-warning btn-sm">Edit</a>
                {% if color.is_blocked %}
                <a href="{% url 'adminapp:unblock_color' color.id %}" class="btn btn-success btn-sm">Unblock</a>
                {% else %}
                  <a href="{% url 'adminapp:block_color' color.id %}" class="btn btn-danger btn-sm">Block</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
