{% extends 'user/blank_layout.html' %}
{% load static %}

{% block content %}

<!-- Breadcrumb Section -->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Add Address</h2>
                        <p>Home <span>-</span> Add Address</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Address Form Section -->
<section class="addresses_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <h2>Add a New Address</h2>
                
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="id_address_line1">Address Line 1</label>
                        {{ form.address_line1 }}
                    </div>

                    <div class="form-group">
                        <label for="id_address_line2">Address Line 2</label>
                        {{ form.address_line2 }}
                    </div>

                    <div class="form-group">
                        <label for="id_city">City</label>
                        {{ form.city }}
                    </div>

                    <div class="form-group">
                        <label for="id_state">State</label>
                        {{ form.state }}
                    </div>

                    <div class="form-group">
                        <label for="id_postal_code">Postal Code</label>
                        {{ form.postal_code }}
                    </div>

                    <div class="form-group">
                        <label for="id_country">Country</label>
                        {{ form.country }}
                    </div>
                    <div class="form-check">
                        <label for="id_is_default">
                            {{ form.is_default }} Is this your default address?
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mt-4">Save Address</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
