{% extends 'user/blank_layout.html' %}
{% load static %}

{% block content %}

<!--================Home Banner Area =================-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Cart</h2>
                        <p>Home <span>-</span> Your Cart</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->



<!-- templates/cart_empty.html -->
<h1>Your cart is empty</h1>
<p>Your shopping cart is empty. Add some items to your cart to proceed.</p>



{% endblock content %}